<form class="form" method="post">
  <input type="text" name="name" value="" id="inputTitle">
  <input type="textarea" name="name" value="" id="inputBody">
  <input type="submit" name="name" value="Create Post" id="btn">
</form>
