<form class="form" action="index.html" method="post">
  <input type="text" name="name" value="" id="inputTitle">
  <input type="textarea" name="name" value="" id="inputBody">
  <input type="button" name="name" value="" id="btn">
</form>
